<section>
    <p>Click to get cordenates </p>
    <p>Coord X: {{x}}</p>
    <p>Coord y: {{y}}</p>
</section>


<section>
    <p>Text copied: {{copied}}</p>
</section>

<section>
    <p>List for scrollevent</p>
    <ul>
        <li *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">{{i}}</li>
    </ul>
</section>

<section>
    <h3>Interval RxJS</h3>
    <button (click)="getIntervalObs()">Set interval</button>
    <h3>Timer RxJS</h3>
    <button (click)="getObsTimer()">Set timer</button>
    <h3>Filter and maps</h3>
    <button (click)="filerNumbers()">Filter numbers</button>
    <h3>Shared</h3>
    <button (click)="useShareObs()">Share</button>
    <h3>Concat</h3>
    <button (click)="exeConect()">Concat</button>
    <h3>Buffer time</h3>
    <button (click)="startStorage()">start storage</button>
</section>